* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* 
div {
    box-sizing: border-box;
} */


/* search-index */

.search-index {
    width: 100%;
    height: 44px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 540px;
    min-width: 340px;
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

.search-index div {
    height: 26px;
    flex: 1;
    border: 1px solid #ccc;
    margin: 8px 10px;
    border-radius: 13px;
    position: relative;
    text-indent: 3em;
    line-height: 24px;
    font-size: 12px;
    color: #666666;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
}

.search-index div::before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    left: 8px;
    top: 6px;
    background: url(../images/sprite.png) no-repeat -60px -280px;
    background-size: 104px auto;
}

.search-index a {
    width: 44px;
    height: 44px;
    text-align: center;
    color: #2eaae0;
    text-decoration: none;
    font-size: 12px;
}

.search-index a::before {
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    margin: 3px auto 1px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
}


/* fouse */

.fouse {
    width: 100%;
    /* height: 80px; */
    padding-top: 44px;
}


/* loca-nav */

.loca-nav {
    display: flex;
    margin: 3px 5px;
    border-radius: 5px;
    background-color: #fff;
}

.loca-nav li {
    height: 64px;
    flex: 1;
}

.loca-nav li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
    color: #000;
    box-sizing: border-box;
}

.loca-nav li a span:first-child {
    width: 32px;
    height: 32px;
}

.loca-nav li [class^="loca-nav"] {
    background: url(../images/localnav_bg.png)no-repeat 0 0;
    background-size: 32px auto;
}

.loca-nav li .loca-nav-icon2 {
    background-position: 0 -32px;
}

.loca-nav li .loca-nav-icon3 {
    background-position: 0 -64px;
}

.loca-nav li .loca-nav-icon4 {
    background-position: 0 -96px;
}

.loca-nav li .loca-nav-icon5 {
    background-position: 0 -128px;
}

nav {
    margin: 0 4px 3px;
    border-radius: 8px;
    overflow: hidden;
}

nav>div {
    height: 88px;
    display: flex;
}

nav>div:nth-child(-n+2) {
    border-bottom: 1px solid #fff;
}

nav>div>div {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 44px;
}

nav>div:nth-child(1) {
    background-image: linear-gradient(90deg, #fa5a55, #fa994d);
}

nav>div:nth-child(2) {
    background-image: linear-gradient(90deg, #4b90ed, #53bced);
}

nav>div:nth-child(3) {
    background-image: linear-gradient(90deg, #34c2a9, #6cd559);
}

nav>div div:nth-child(1) {
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}

nav>div div:nth-child(-n+2) {
    border-right: 1px solid #fff;
}

nav>div div:nth-child(n+2) a:first-child {
    border-bottom: 1px solid #fff;
}


/* subnav-entry */

.subnav-entry {
    margin: 0 4px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}

.subnav-entry li {
    flex: 20%;
}

.subnav-entry li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subnav-entry li a span:first-child {
    width: 28px;
    height: 28px;
    margin-top: 4px;
    background: url(../images/subnav-bg.png) no-repeat;
    background-size: 29px auto;
}


/* main-activity */

.main-activity {
    margin: 4px;
    border-top: 1px solid #bbb;
    background-color: #fff;
}

.more {
    height: 44px;
    position: relative;
    border-bottom: 1px solid #bbb;
}

.more h2 {
    font-size: 0px;
}

.more::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 8px;
    width: 79px;
    height: 15px;
    background: url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}

.more a {
    position: absolute;
    right: 5px;
    top: 8px;
    border-radius: 14px;
    padding: 2px 23px 2px 10px;
    color: #fff;
    background-image: linear-gradient(90deg, #ff506c, #ff6bc6);
}

.more a::after {
    content: '';
    position: absolute;
    top: 9px;
    right: 8px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotateZ(45deg);
}

.activity {
    display: flex;
    flex-wrap: wrap;
}

.activity div {
    flex: 50%;
}